.userPageContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(93, 33, 172);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 50px -3px;
  margin: 0px 100px;
  background-color: white;
}

.userInputLabel {
  display: block;
  margin: 5px;
  text-align: left;
}

input {
  width: 200px;
  border-radius: 7px;
  height: 20px;
}

.loginBtn {
  height: 25px;
  width: 80px;
  border-radius: 5px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  /* margin-left: 80px; */
  width: inherit;
}

.mandatory {
  color: red;
}

.otherOptions > p {
  padding: 0px;
  margin: 3px;
  text-align: left;
  color: rgb(68, 135, 212);
}

.otherOptions > p:hover {
  color: red;
}

.SignUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 550px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 50px -3px;
  margin: 0px 100px;
  background-color: white;
}

.signUpBtn {
  height: 25px;
  width: 150px;
  border-radius: 5px;
}

.forgetPasswordMainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(93, 33, 172);
}

.forgetPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 20px;
  box-shadow: 0px 0px 50px -3px;
  background-color: white;
}

.resetPasswordBtn {
  height: 25px;
  width: 150px;
  border-radius: 5px;
}

.generateRandomString {
  margin-left: 5px;
}

.app-title {
  font-size: 50px;
  width: 50vw;
  color: white;
  transform: rotate(20deg);
}

.shadow {
  text-shadow: 4px 1px 6px rgba(255, 255, 255, 1);
}
